---
/**
 * Table component for article content.
 */
---

<style>
    [table-slot] {
        th {
            @apply px-6 py-3 text-xs font-medium text-gray-500 uppercase dark:text-neutral-500;
        }

        tbody {
            @apply divide-y divide-gray-200 dark:divide-neutral-700;
        }

        td {
            @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200;
        }
    }
</style>

<div class="flex flex-col border rounded-xl shadow-sm dark:bg-neutral-800 dark:border-neutral-700 not-prose my-5">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700" table-slot>
                    <slot />
                </table>
            </div>
        </div>
    </div>
</div>
    