---
import { getCollection } from 'astro:content';
import Announcement from './Announcement.vue';
import A from './article/A.astro';

const announcements = (await getCollection('announcement')).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

await Promise.all(announcements.map(async (announcement) => {
    // @ts-ignore
    announcement.rendered = (await announcement.render()).Content;
}));
---

<div class="flex flex-col gap-y-3">
    
    {
        announcements.map((announcement) => (
            <Announcement 
                slug={ announcement.slug }
                title={ announcement.data.title }
                pubDate={ announcement.data.pubDate }
                client:only="vue"
            >
                <!-- @ts-ignore -->
                <announcement.rendered components={{ a: A }} />
            </Announcement>
        ))
    }

</div>
